.projects-container {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
  left: 5vw;
  top: 1.5vw;
  width: 50vw;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.project-item {
  animation-name: animateIn;
  animation-duration: 2000ms;
  animation-delay: calc(var(--animation-order) * 500ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1vw;
}

.project-item:nth-child(1) { --animation-order: 1; }
.project-item:nth-child(2) { --animation-order: 2; }
.project-item:nth-child(3) { --animation-order: 3; }
.project-item:nth-child(4) { --animation-order: 4; }

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-0.8vw);
  }
  100% {
    opacity: 1;
  }
}

.project-image img {
  width: 100%;
  max-width: 15vw;
  height: auto;
  margin-bottom: 1vw;
}

.project-description h2 {
  margin: 0 0 0.5vw 0;
  font-size: 1.5vw;
  color: #333;
}

.project-description p {
  font-size: 0.7vw;
  color: #000000;
  max-width: 15vw;
  margin: 0 auto;
}

.project-description a {
  text-decoration: none;
  color: inherit;
}

.project-description a:hover {
  text-decoration: underline;
}