.contact-container {
    position: absolute;
    transform: translate(700px, 100px);
    width: 40%;
}

.contact-content {
    font-size: 30px;
}

.desc-container {
    display: flex;
    width: 100%;
    position: relative;
}

.contact-details {
    flex-direction: column;
    display: flex;
}

.icon-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mail-icon {
  width: 70%;
}

.linkedin-icon {
  width: 60%;
}

.github-icon {
  width: 60%;
}

.desc-container,
.mail-icon,
.linkedin-icon,
.github-icon {
  animation-name: animateFiles;
  animation-duration: 2500ms;
  animation-delay: calc(var(--animation-order) * 200ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  text-decoration: none;
}

@keyframes animateFiles {
    from {
        opacity: 0;
        margin-left: 100%;
    }
    to {
        opacity: 1;
        margin-left: 0%;
    }
}
  
  .desc-container {
    --animation-order: 5;
  }
  
  .mail-icon {
    --animation-order: 4;
  }

  .linkedin-icon {
    --animation-order: 2;
  }
  
  .github-icon {
    --animation-order: 3;
  }
