.profile-image img {
    width: 18%;
    border-radius: 100px;
    position: absolute;
    transform: translate(40px, 180px);
}
/* 
.profile-image {

} */

.description-container {
    width: 30%;
    position: absolute;
    transform: translate(350px, 200px);
}

.description, 
.profile-image {
    /* display: block; */
    /* width: 320px; */
    animation-name: animateIn;
    animation-duration: 2000ms;
    animation-delay: calc(var(--animation-order) * 500ms);
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }

  .description {
    --animation-order: 2;
  }
  
  .profile-image {
    --animation-order: 1;
  }

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }
  
  100% {
    opacity: 1;
  }
}